.home-container {

    height: 20vh;
    width: 100%;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    color: solid white;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1700px;
}


.home-container > p {
    margin-top: 25px;
    color: black;
    font-size: 18px;
    font-family: 'Avenir';
    padding-left: 45px;
   /*align-self: flex-start;*/
    line-height: 20px;
}



/*responsive breakpoints*/
@media screen and (max-width: 960px) {

    .home-container > p {
        font-size: 20px;
        margin-top: 15px;
    } 

}

@media screen and (max-width: 768px) {

    .home-container > p {
        font-size: 18px;
        margin-top: 18px;

    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%;
    }
}