* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
}

.home,
.bun-bun,
.artogether,
.pandabool,
.about-me {
  display: flex;
  height: 90vh;
  padding: 0px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.bun-bun {
  background-image: url('./images/bun-bun.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.artogether {
  background-image: url('./images/artogether-bg.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.pandabool {
  background-image: url('./images/pandabool.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about-me {
  background-image: url('./images/me.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}